/* OVERALL STYLE */

:root{
    --dark-color: #242424;
    --bamboo-color: #5ac55a;
    --paper-color: #ffeec8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--dark-color);
    color: var(--paper-color);
    font-family: Helvetica, Arial, sans-serif;
}

section{
    padding: 60px;
}

.section-title {
    font-size: 48px;
    width: 250px;
    border-right: 3px solid;
    padding-right: 20px;
    display: flex;
    justify-content: flex-end;
}

.flex-row {
    display: flex;
}

/* HEADER STYLE */

header {
    z-index: 9999;
    padding: 20px 35px;
    background-color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
}

header h1 {
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    text-shadow: 0 0 10px rgba(255, 225, 255, 0.25);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 20px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(255, 225, 255, 0.40);
}

header nav ul li a:hover {
    background: var(--bamboo-color);
    color: var(--paper-color);
    border-radius: 15px;
    text-shadow: none;
}

header a {
    text-decoration: none;
    color: var(--bamboo-color);
}

/* HERO */
.hero {
    background-image: url("../images/bamboo-forest-hero.jpg");
    background-size: cover;
    background-position: 10%;
    background-attachment: fixed;
    width: 100%;
    justify-content:end;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 30px;
}

.hero h2 {
    margin: 270px 50px 0 0;
    text-shadow: 0 0 50px rgb(0, 0, 0, 1);
    text-align: right;
    width: 100%;
}

/* ABOUT ME */
.introduction {
    display: flex;
    justify-content: space-between;

}

.introduction .wrapper {
    display: flex;
    justify-content: center;
}

.introduction img {
    width: 60%;
    height: fit-content;
    margin: 3.5% 5% 3.5% 2%;
    border-radius: 15%;
}

.introduction p {
    width: 50%;
    align-self: center;
    margin: 3.5% 2% 3.5% 10%;
    font-size: 18px;
    line-height: 1.5;
}

.profpic-container, .proftext {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

/* WORK */
.work{
    display: flex;
    justify-content: space-between;
}
.work .wrapper{
    display: flex;
    justify-content: center;
}

.work a{
    width: 48%;
    border-radius: 14px;
    border: 10px solid var(--bamboo-color);
    
    margin-bottom: 15px;
    padding: 20px 100px 20px 0;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #000;
    background-color: #ffffff;
    opacity: 0.6;
}

.work a:hover{
    opacity: 1;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.work span{
    background-color: var(--bamboo-color);
    width: 150px;
    font-size: 22px;
}

#language {
    font-size: 15px;
}


.work-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-left: 3.5%;
    
}

.transbox:hover {
  background-color: #ffffff;
  width:100%;
  opacity: 0.6;
}



.work #portfolio{
    background-image: url("../images/portfolio-work.PNG");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
}

#run-buddy{
    background-image: url("../images/run-buddy-work.PNG");
    background-size: cover;
    background-position: center;
} 
#stream-search{
    background-image: url("https://github.com/RayTakemura/StreamSearch/blob/c47c02eca5643baa0949ac2450d2674a36b255be/client/src/assets/examples/Home.png?raw=true");
    background-size: cover;
    background-position: center;
}
#GIT{
    background-image: url("../images/GIT.PNG");
    background-size: cover;
    background-position: center;
} 
#trail {
    background-image: url("../images/trail-mix.PNG");
    background-size: cover;
    background-position: center;
}

/* EDUCATION */
.education .wrapper{
    display: flex;
    justify-content: center;
}

.edu-cards {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.edu-card {
    margin: 20px;
    background: var(--paper-color);
    color: var(--dark-color);
    flex:1;
    border-radius: 10px;
    border: 3px solid var(--bamboo-color);
}
.edu-card img{
    width: 100%;
    border-radius: 10px;
}
.edu-card p{
    padding: 25px;
    line-height: 1.5;
}

.edu-card span{
    font-weight: bold;
}

/* CONTACT-ME  */
.contact-title {
    display: flex;
    justify-content: center;
}
.contact h2{
    font-size: 48px;
    display: flex;
    justify-content: center;
    border-bottom: 3px solid;
    padding-bottom: 20px;
    margin-bottom: 50px;
    width: 50%
}


.contact-items {
    display:flex;
    justify-content: space-evenly;
}

.contact-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.contact-links a {
    color: var(--paper-color);
    background-color: var(--bamboo-color);
    display: flex;
    justify-content: center;
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
}


/* FOOTER */
footer {
    text-align: center;
}

@media screen and (max-width: 300px) {
    .introduction p {
        font-size: 15pxs;
    }
    .education p {
        font-size: 12px;
        padding: 10px;
    }
}
@media screen and (max-width: 450px) {
    .contact-items {
        flex-direction: column;
    }
    .contact-items iframe {
        width:100%;
        height:min-content;
        margin-bottom: 10px;

    }
    .contact-links a {
        margin: 10px;
    }
}

@media screen and (max-width: 768px) {
    

    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }
    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
      font-size: 20px;
    }


    .profpic-container, .proftext{
        width:100%
    }

    .prof-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .work{
        justify-content: center;
    }

    .work a{
        width: 100%;
        max-height: 100px;
        padding: 0;
    }


    .work span {
        font-size: 15px;
        width: 100px;
    }

    .education {
        display: flex;
        justify-content: center;
    }


    .education .wrapper, .edu-cards {
        width: 90%;
    }
    .edu-cards{
        flex-direction: column;
    }

    .edu-card {
        height: min-content;
    }
    

}

@media screen and (max-width: 1100px) {
    .wrapper {
        flex-direction: column;
    }
    section{
        padding: 20px;
    }
    .section-title{
        font-size: 10px;
        border-right: none;
        padding-right: 0;
        display: flex;
        justify-content: center;
        font-size: 48px;
        border-bottom: 3px solid;
        padding-bottom: 20px;
        padding-right: 0;
        margin-bottom: 50px;
        width: 50%;
        text-align: center;
    }

    .work-cards{
        margin-left: 0;
    }
    .introduction p{
        margin: 0;
        text-align: center;
        width: 100%;
    }
    .flex-row{
        justify-content: center;
    }
}